__pycache__/
build*/
.vs/
bin/pyhiew/doc
src/Debug/
src/Release/
bin/hiew6228.ke8
bin/hiew8.ini
bin/hiew.xlt
bin/file_id.diz
bin/hiew.vmm
bin/hiew32.exe
bin/hiew7.ord
bin/hiew_en.txt
bin/hiew8.hlp
bin/pyhiew.hem
bin/pyhiew.ilk
bin/sen.asc
bin/pyhiew/peid-db.cache
